section{
   border: solid;
   display: flex;
   height: 80vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:#ced4da;

   .texto{
    font-size: 4rem;
    color: #3c096c;
    
   }
}

.redesSociais{
    //border: solid;
    display: flex;
    width: 20vw;
    justify-content: space-around;

    img {
  width: 50px;
  height: 50px;

}


}

@media (min-width: 201px) and (max-width: 500px){

section{
   border: solid;
   display: flex;
   height: 80vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:#ced4da;
   

   .texto{
    //border: solid red;
    font-size: 3rem;
    color: #3c096c;
    
   }
}

.redesSociais{
    //border: solid;
    display: flex;
    width: 40vw;
    justify-content: space-around;

    img {
  width: 50px;
  height: 50px;

}


}

}

