.navBarHeader{
    background-color: rgb(0, 238, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;

    img{
        width:10vw;
        //height: ;
    }

    ul{
        
        display: flex;
        justify-content: space-around;
        width: 50%;
        list-style-type: none;
    }

    li{
        font-size: 2rem;
    }
}

