.sectionProjetos{
    background-color: #caf0f8;
    display:flex;
    justify-content: space-around;
    padding-top: 2rem;
    flex-wrap: wrap ;
}

.cardProjetos{
    background-color: aliceblue;
    border: solid;
    border-radius: 10px;
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
   

    h2{
        color: rgb(1, 1, 17);
         padding: 1rem;
    }

    img{
        width: 50%;
        
    }
}

